* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: "Unbounded", sans-serif;
    margin: 0;
}

.first-page {
    background-image: url(./images/spalsh\ background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

nav {
    padding: 20px 40px;
}

#git-logo {
    width: 20px;
    height: 20px;
}

.change-red {
    color: red;
}

.color-letter {
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap:nowrap;
    z-index: 0;
    overflow: hidden;
}

.red-button {
    background-color: #cd1f3e;
    border: #cd1f3e;
    border-radius: 1cap;
    color: white;
    box-shadow: 0px -1px 1px #FF2E53, 0px 8px 20px #540000 ;
    text-align: center;
    padding: 12px 16px;
    font-size: 14px;
    margin: 10px;
    font-weight: bold;
}



nav .title {
    display: flex;
    gap: 5px;
}

.title h2 {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-size: 22px;
}

.title h3 {
    padding-top: 5px;
    font-size: 18.9px;
}

.about-buttons  {
    background-color: #211717;
    border: 2px solid #313131;
    display: flex;
    gap: 15px;
    justify-content: center;
    padding: 10px;
    border-radius: 1cap;
    box-shadow: 0px 4px 4px #000000;
    margin-left: 70px;
}

.about-buttons button {
    background-color: #211717;
    border: none;
    color: white;
    font-family: "Unbounded", sans-serif;
    font-size: 14px;
}

.link-button {
    background: linear-gradient(to bottom, #312323, #000000);
    padding: 12px 16px;
    border: 1px;
    border-image: linear-gradient(to bottom, #312323, #000000) 2;
    border-radius: 1cap;
    color: white;
    box-shadow: 0px -1px 1px #666666;
    font-size: 14px;
    text-decoration: none;
}

main {
    text-align: center;
    padding: 0px 270px 200px 270px;

}

main h1 {
    background: linear-gradient(to right, #D6D6D6, #B1B1B1);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; 
    font-size: 90px;
    font-weight: bold;
    margin: 20px 0px 0px 0px;
}

main h2 {
    font-size: 35px;
    font-weight: bold;
    background: linear-gradient(to bottom, #312323, #000000);
    padding: 12px 16px;
    border: 1px;
    border-image: linear-gradient(to bottom, #312323, #000000) 2;
    border-radius: 1cap;
    color: white;
    box-shadow: 0px -1px 1px #666666;
    text-decoration: none;
}
main h3 {
    font-size: 20;
    font-weight: 300;
}

.Projects-nav {
    background-image: url(./images/PROJECTS.svg);
    background-size: 35%;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 120px;
    padding-bottom: 40px;
    background-color: #150808;
}

.Projects-nav h3 {
    text-align: center;
    font-size: 32px;
    background: linear-gradient(to right, #D6D6D6, #B1B1B1);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; 
}

#proj-1 {
    background-image: url(./images/background\ 1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 85vh;
}

#proj-2 {
    background-image: url(./images/background\ 2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 85vh;
}

#proj-3 {
    background-image: url(./images/background\ 3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 85vh;
}

.example-projects {
    background-color: #211717;
    padding: 25px;
    display: flex;
    gap: 15px;
    align-items: center;
    height: 350px;
}

.project-details {
    background-color: #211717;
    padding: 25px;
    display: inline-block;
    gap: 15px;
    border: 1px solid #313131;
    border-radius: 1cqb;
  }  

.flex-dis {
    display: flex;
    align-items: center;
    gap: 10px;

}

.flex-dis h5 {
    color: #CD1F3E;
    border: 1px solid #CD1F3E;
    border-radius: 1cqb;
    font-size: 12px; 
    padding: 4px 8px;
    font-weight: normal;
}

hr {
    border: none;
    border-top: 1px solid #3B3B3B;
}


 

 
  