* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: "Unbounded", sans-serif;
    margin: 0;
}

.first-page {
    background-image: url(./images/spalsh\ background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

nav {
    padding: 20px 40px;
}

#git-logo {
    height: 20px;
    width: 20px;
}

.change-red {
    color: red;
}

.color-letter {
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap:nowrap;
    z-index: 0;
    overflow: hidden;
}

.red-button {
    background-color: #cd1f3e;
    border: #cd1f3e;
    border-radius: 1cap;
    color: white;
    box-shadow: 0px -1px 1px #FF2E53, 0px 8px 20px #540000 ;
    text-align: center;
    padding: 12px 16px;
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    font-weight: bold;
}



nav .title {
    display: flex;
    gap: 5px;
}

.title h2 {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-size: 22px;
}

.title h3 {
    padding-top: 5px;
    font-size: 18.9px;
}

.about-buttons  {
    background-color: #211717;
    border: 2px solid #313131;
    display: flex;
    gap: 15px;
    justify-content: center;
    padding: 10px;
    border-radius: 1cap;
    box-shadow: 0px 4px 4px #000000;
    margin-left: 40px;
}

.about-buttons button {
    background-color: #211717;
    border: none;
    color: white;
    font-family: "Unbounded", sans-serif;
    font-size: 14px;
}

.filler {
    display: flex;
    gap: 10px;
}

.link-button {
    background: linear-gradient(to bottom, #211E1E, #000000);
    padding: 12px 16px;
    border: 1px;
    border-image: linear-gradient(to bottom, #211E1E, #000000) 2;
    border-radius: 1cap;
    color: white;
    box-shadow: 0px -1px 1px #666666;
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


main {
    text-align: center;
    padding: 0px 270px 200px 270px;

}

main h1 {
    background: linear-gradient(to right, #D6D6D6, #B1B1B1);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; 
    font-size: 90px;
    font-weight: bold;
    margin: 20px 0px 0px 0px;
}

main h2 {
    font-size: 35px;
    font-weight: bold;
    background: linear-gradient(to bottom, #211E1E, #000000);
    padding: 12px 16px;
    border: 1px;
    border-image: linear-gradient(to bottom, #211E1E, #000000) 2;
    border-radius: 1cap;
    color: white;
    box-shadow: 0px -1px 1px #666666;
    text-decoration: none;
}
main h3 {
    font-size: 20;
    font-weight: 300;
    font-family: "Rubik", sans-serif;;
}

.Projects-nav {
    background-image: url(./images/PROJECTS.svg);
    background-size: 35%;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 120px;
    padding-bottom: 40px;
    background-color: #150808;
}

.Projects-nav h3 {
    text-align: center;
    font-size: 32px;
    background: linear-gradient(to right, #D6D6D6, #B1B1B1);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; 
}

#proj-1 {
    background-image: url(./images/background\ 1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 85vh;
}

#proj-2 {
    background-image: url(./images/background\ 2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 85vh;
}

#proj-3 {
    background-image: url(./images/background\ 3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 85vh;
}

.example-projects {
    background-color: #211E1E;
    padding: 25px;
    display: flex;
    gap: 15px;
    align-items: center;
    height: 350px;
}

.project-details {
    background-color: #211E1E;
    padding: 25px;
    display: inline-block;
    gap: 15px;
    border: 1px solid #313131;
    border-radius: 1cqb;
  }  

.flex-dis {
    display: flex;
    align-items: center;
    gap: 10px;

}

.flex-dis h5 {
    color: #CD1F3E;
    border: 1px solid #CD1F3E;
    border-radius: 1cqb;
    font-size: 12px; 
    padding: 4px 8px;
    font-weight: normal;
    margin-top: 10px;
}

hr {
    border: none;
    border-top: 1px solid #3B3B3B;
}

.project-details h4 {
    font-family: "Sora", sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.project-details h3 {
    font-size: 28px;
    font-weight: 500;
    color: #bebebe;
}

.project-details p {
    font-size: 16px;
    font-family: "Rubik" ,sans-serif;
    font-weight: normal;
    margin: 10px 0;
}

.all-aboutme {
    background-image: url(./images/about/Desktop.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.all-aboutme h2 {
    padding-top: 350px;
    font-size: 60px;
    background: linear-gradient(to right, #D6D6D6, #B1B1B1);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; 
    text-align: center;
}
 
.all-aboutme p {
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
}

.aboutcode-all {   
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    margin-top: 40px;
}

.aboutcode-single {
    background-color: #211E1E;
    border: 1px solid #313131;
    border-radius: 1cqb;
    padding: 25px;
    max-width: 360px;
    margin-bottom: 200px;
    display: inline-block;
    gap: 15px;
}

.aboutcode-single image {
    width: 20px;
    height: 20px;
}

.aboutcode-single h3 {
    font-size: 24px;
    font-weight: normal;
}

.aboutcode-single p {
    text-align: left;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-weight: normal;
}

.contact-sec {
    background-image: url(./images/CONTACT\ ME.svg);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 60px;
    padding-bottom: 25px;
    text-align: center;
    font-size: 32px;
}

.contactform-all {
    background-image: url(./images/Contact\ Form.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 40px;
    border: 2px solid #313131;
    border-radius: 1cap;
    display: flex;
    gap: 40px;
    padding: 40px;
    min-height: 500px;
    }

.contactform-part, .contact-info {
    flex: 1;
    max-width: 50%;
}
.contactform-part {
    padding-right: 40px;

}

.contactform-part h6 {
    color: #CD1F3E;
    font-size: 32px;
    margin: 0px;
    padding-bottom: 15px;
}

.input-container {
    padding-bottom: 15px;
}

.input-container label {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
}

.input-container input {
    padding: 16px 20px;
    width: 100%;
    background-color: #181111;
    border: 1px solid #6F6F6F;
    border-radius: 1cap;
    margin-top: 8px;
}

.text-area {
    padding-bottom: 15px;
}